<p>
  new-cmp works!
</p>
<h3> {{ newcomponent }} </h3>

<table id="tbl">
    <tr>
      <th>Care Provider</th>
      <th>Date Of Service</th>
      <th>Review Status</th>
    </tr>
    <tr>
      <td>Aziz Douglas</td>
      <td>1/1/2017</td>
      <td><span style="font-size: 25px" class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
      </td>
    </tr>
    <tr>
        <td>Aziz Douglas</td>
        <td>12/02/2017</td>
        <td><span style="font-size: 25px" class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
        </td>
      </tr>

    <tr>
        <td>Mark Edward</td>
        <td>02/03/2017</td>
        <td><span style="font-size: 25px" class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
        </td>
       </tr>

    <tr>
        <td>Aziz Douglas</td>
        <td>15/03/2017</td>
        <td><span style="font-size: 25px" class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
        </td>
      </tr>
    <tr>
      <td>Mark Edward</td>
      <td>05/04/2017</td>
      <td><span style="font-size: 25px" class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
      </td>
    </tr>
  </table>
