/* Primary color blue: #062466
FONT COLOR very light blue: #A5B0C8
background color light gray: #ebebeb */

/* Navbar design css */
/* .glyphicon { */
/* } */
span{
    display:inline;
}
.navbar {
background:#062466;
}

ul {
    list-style-type: none;
    /* margin: 0;
    padding: 0; */
    overflow: hidden;
    background-color: #062466;
}

li {
    float: left;
        padding: 8px 8px;

}

li a {
    display: block;
    color: #A5B0C8;
    text-align: center;
    /* padding: 14px 16px; */
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

/* Table css design */
#tbl1 {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#tbl1 td, #tbl1  {
    border: 2px solid #ddd;
    padding: 8px;
}

#tbl1 tr:nth-child(even){background-color: #f2f2f2;}
#tbl1 tr:nth-child(odd){background-color: #f2f2f2;}

/* #tbl td{
    background-color: white;
} */
#tbl1 tr:hover {background-color:slategray;}

#tbl1 th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    /* background-color:#062466; */
    color:#A5B0C8;
}


/* #tbl tr:hover{
    background-color: #ddd;
} */
#tbl {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#tbl td, #tbl  {
    border: 2px solid #ddd;
    padding: 8px;
}

#tbl tr:nth-child(even){background-color: #f2f2f2;}
#tbl tr:nth-child(odd){background-color: #f2f2f2;}

/* #tbl td{
    background-color: white;
} */
#tbl tr:hover {background-color:slategray;}

#tbl th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    /* background-color:#062466; */
    color:#A5B0C8;
}
